/* Centering form */
#signup-form-container {
    /* padding-right: 20em;
    margin-left: auto !important;
    margin-right:auto !important; */
    max-width: 900px;
    margin: auto;
    padding-right: 5em !important;    
}

#signup-heading {
    font-size: 3em;
    margin-bottom:0px !important;
}

#signup-return {
    font-size:1em;
    margin-bottom: 20px;
    margin-left: 5px;
}