/* Centering form */
#signup-form-container {
    /* padding-right: 20em;
    margin-left: auto !important;
    margin-right:auto !important; */
    max-width: 900px;
    margin: auto;
    padding-right: 5em !important;    
}

#signup-heading {
    font-size: 3em;
    margin-bottom:0px !important;
}

#signup-return {
    font-size:1em;
    margin-bottom: 20px;
    margin-left: 5px;
}


/* Removes input arrows on.. */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}