#login-container {
    text-align: center;
}

#login-container .login-form  {
    max-width: 300px;
    margin: auto !important;
}


#login-container.login-form-button {
  width: 100%;
}

#login-container h1 {
    font-size: 3em;
    margin-bottom: 0px;
}
#login-container h2 {
    font-size: 1.2em;
    margin-bottom: 1.5em;
}

.form-divider {
    width: 30%;
}

button{
  border-radius: 5px !important;
  font-weight: bolder !important;
}

h1 {
  font-weight: bold;
}

h1.homePageSubH{
  font-weight: bolder;
}

#homepage-descrip {
  font-size: 22px !important;
  margin-bottom: auto !important;
}
.cardTitle {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

#complex-form_street {
  margin-bottom: 10px;
  margin-right: 5px;
}

.zipCodeInput {
  width: 100px;
  border-bottom: 3px solid #666 !important;
}
