@import '~antd/dist/antd.css';


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #235dd3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bar-button {
  margin-left: '2vmin';
  font-size: '3vmin';
  margin-left: '18.5vmin';
  margin-top: '4.2vmin';
  padding-bottom: '5.2vmin';
  padding-top: '1.4vmin';
  size: 'large';
  padding-left: '6vmin';
  padding-right: '8vmin';
  text-align: 'center';
}

.buttons {
 background-color: darkgray;
 display: flex;
 width: 100%;
 flex-direction: row;
 height: 5%;

}

.buttons1 {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.welcome {
  margin-left: auto;
}

.break {
  display: flex;
  flex-basis: 100%;
  height: 0;
}

.cardHeader {
  font-size: 4vmin;
  font-weight: bolder;
  font-stretch: condensed;
  margin-left: 5vmin;

}

.cardLineBreak {
  background-color: gray;
  
  margin-bottom: 6%;
}

cardStyle  { 
  width: "700px";
  height: "192px";
  border-radius: "16px";
  margin-right: "24px";
  box-shadow:  3px 5px 6px black;
}

.cardTitle {
  font-family: Calibri;
  font-weight: bold;
  font-stretch: condensed;
  font-size: 32px;
}

.cardDescription {
  color: black;
  font-size: 14px;
}

.cardDesDiv {
  height: 100px;
  overflow: hidden;
}

.cardRequester {
  color: black;
  font-size: 18px;
}

.cardRequested {
  color: #61dafb;
  font-weight: bold;
}

.col {
  display: flex;
  width: 25%;
  margin-left: 5vmin;
  margin-bottom: 5vmin;
}

@media (max-width: 930px) {
  .col {
    display: flex;
    width: 30vw;
    margin-left: 8vmin;
    margin-bottom: 5vmin;
  }
}
.flex-grid {
  display: flex;
  flex-flow: wrap;
  align-content: space-between;
  justify-content: center;
}

.flex-grid::after { content: "";flex: 0 0 50%;max-width: 950px;}

.flex-header {
  display: flex;
  flex-flow: wrap;
justify-content: start;  
}



@media (max-width: 800px) {
  .flex-grid {
    display: flex;
  flex-flow: wrap;
  flex-direction: column;
 
  }
}

.greeting {
  font-size: 4vmin;
}

.headerDiv {
}

.helpOthers {
  margin-left: 20vmin;
}

.homepageBody {
  display: 'flex';
  flex-direction: 'column';
  margin-left: 18vmin;
}

.homePageButtons {
  display: flex;
  flex-direction: column;

}

.homePageHeader {
  font-size: 7vmin;
  margin-bottom: 6vmin;
 }

.homePageRequestButtons {
  display: flex;
  flex-direction: row;
}

.homePageSubH {
  font-size: 4vmin;
  margin-top: 7vmin;
}

.options {
  margin-top: 4vmin;
  display: flex;
  flex-direction: row;
  justify-content: start;
}