li.ant-menu-item.ant-menu-item-only-child.ant-menu-item-selected {
  border-bottom-width: 4px !important;
}
​
ul.ant-menu.ant-menu-light.ant-menu-root.ant-menu-horizontal {
  height: 9vh !important;
}
​
body {
  font-family: 'Roboto', sans-serif;
}
​
.ant-menu-item {
  font-weight: bold !important;
}
​
ul.ant-menu.ant-menu-light.ant-menu-root.ant-menu-horizontal{
  padding-top: 1vh;
}
​
li.ant-menu-item.ant-menu-item-selected {
  border-bottom-width: 3px;
}
​
.cardTitle {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}
​
#homepage-descrip {
  font-size: 22px !important;
  margin-bottom: auto !important;
}
​
h1.homePageHeader {
  font-weight: bold;
}
​
h1.homePageSubH{
  font-weight: bolder;
}
​
a.ant-btn.bar-button.ant-btn-primary {
  border-radius: 5px !important;
  font-weight: bolder !important;
}
​
button{
  border-radius: 5px !important;
  font-weight: bolder !important;
}
​
.MuiButton-label {
  font-weight: bold;
}
​
.WithStyles\(ForwardRef\(Button\)\)-root-1 {
  background: #44A4F2;
}
​
.WithStyles\(ForwardRef\(Button\)\)-root-138 {
  background: #44A4F2;
}
​
.WithStyles\(ForwardRef\(Button\)\)-root-34 {
  background: #ff453a;
}
​
button.MuiButtonBase-root.MuiButton-root.MuiButton-text {
  box-shadow: none !important;
}